/* estilos.css */


body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background: #fff; /* Fondo general de la página */
}

header {
    width: 100%;
    position: fixed; /* Mantiene el header en la parte superior de la página */
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background: linear-gradient(135deg, #333333 0%, #FFFFFF 100%);
    color: white;
}

#menu-superior {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#enlaces-proyectos {
    padding-right: 100px;
    display: flex;
    justify-content: flex-end; /* Alinea los enlaces al final de la barra del menú */
}

#enlaces-proyectos a {
    margin-left: 20px; /* Espacio entre enlaces */
    color: black; /* Estilo de los enlaces */
    text-decoration: none; /* Quita el subrayado de los enlaces */
}

/* Estilo base para proyectos */


/* Efecto de zoom horizontal para pantallas grandes */


#panel-proyectos {
    padding-top: 60px;
    display: flex;
    flex-direction: row; /* Alineación lado a lado por defecto */
    flex-wrap: wrap; /* Permite el ajuste responsivo */
    padding-top: 70px; /* Ajuste para el menú */
    margin: 0;
    align-items: stretch;
}

.proyecto {
    transition: transform 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    margin: 0; /* Elimina los espacios externos */
    height: calc(100vh - 70px); /* Altura total menos el menú */
    background: linear-gradient(135deg, #F5F5F5 0%, #0B0B0B 100%);
    color: #333;
    font-size: 24px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.proyecto:hover {
    transform: scaleX(1.05); /* Aumenta solo el ancho */
}

#logo img {
    height: 50px; /* Ajusta esta altura según necesites */
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
    #panel-proyectos {
        flex-direction: row; 
    }

    .proyecto {
        height: 23vh; /* Cada proyecto ocupa el 25% del alto de la ventana de visualización */
        width: 100%; /* Asegura que cada proyecto ocupe el ancho completo de la pantalla */
    }
    .proyecto:hover {
        transform: scaleY(1.05); 
    }
}